@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

main {
    width: 5%;
    margin: 0 auto;
    padding: 500px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

main p {
    width: 658px;
    height: 21px;
    left: 134px;
    top: 425px;
    font-size: 50px;
}

main .title p {
    font-size: 1px;
}

.main {

    position: absolute;
    width: 600px;
    height: 128px;
    left: 133px;
    top: 340px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 64px;
}

.submit-button button {
    background: #00E3A5;
    border: none;
    color: #181818;
    border-radius: 5px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: 0.2s;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    margin-top: 75px;
}

.submit-button button:hover {
    box-shadow: hsla(164, 100%, 45%, 0.514) 0px 5px 15px;
}

.title {
    color: #80AB9E;
    font-weight: 100;
    font-size: 30px;
}

.under-title {
    color: #F5FBF2;
}

.preview{
    position: absolute;
    top: -100px;
    right: -10px;
}

.preview img {
    position: absolute;
    width: 935.5px;
    height: 583.16px;
    right: -1104.5px;
    top: -50.42px;
}