.menu {
    width: 1400px;
    height: 700px;
    border-radius: 0px 300px 300px 0px;
    background: #FFFFFF;
}

.menu p {
    font-weight: 400;
    font-size: 30px;
    width: 600px;
    line-height: 32px;
    font-family: 'Montserrat', sans-serif;
}

.menu h2{
    font-size: 50px;
}